html * {
	scrollbar-width: thin;
	scrollbar-color: #5d3fd6 #fff;
}

ol,
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
table {
	width: unset;
}
button {
	font-family: "Helvetica", sans-serif;
	padding: 0;
}
body,
body.post,
body.page {
  width: 100%;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	color: #fff;
	background: #303030;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

body.lock {
	overflow: hidden;
}


.header-content {
  max-width: 1920px;
}
a:focus-visible,
a,
a:link,
a:hover,
a:any-link,
a:visited,
a:active,
a:focus,
button {
	display: inline-block;
	vertical-align: top;
	text-decoration: none !important;
	cursor: pointer;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	border: none;
	border-width: 0;
	outline: none;
	box-shadow: none;
}
.fnc-nav__controls button {
	border: none;
	box-shadow: none;
}
a:any-link {
	display: inline-block;
	vertical-align: top;
	text-decoration: none !important;
	cursor: pointer;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	border: none;
	outline: none;
}

.section {
  width: 100%;
}

.btn {
  color: #fff;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  border: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #303030;
}

.btn-icon {
  padding: 9px 11px 9px 11px;
  display: none;

  color: #fff;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  border: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  white-space: nowrap;
  outline: none;
  background: #303030;
}

.btn-icon-left {
  margin-left: 30px;
}

.main-button {
  display: flex;
}


.logo-svg {
  margin-top: 22px;
  margin-left: 15px;
}


.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #303030;
}

.menu-list-tabl {
  display: none;
}

.menu-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  margin-right: 110px;
}

.main-title {
  margin-top: 200px;
  margin-bottom: 80px;
  width: 1271px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  
  text-transform: uppercase;
}

.main-title-text {
  text-align: left;
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 112px;
  line-height: 120px;
}

.main-child {
  margin-left: -22px;
  font-size: 82px;
}

.main-child-indent {
  margin-left: 10px;
  font-size: 82px;
}

.main-item {
  margin-left: 15px;
}

.main-two {
  display: flex;
  margin-bottom: 100px; 
}

.main-two-mob {
  display: flex;
  margin-bottom: 100px; 
}

.help-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;

  opacity: 1;
}


.help-text-one {
  width: 454px;

  margin-left: 30px;
  text-align: left;
}

.help-text-two {
  width: 454px;

  margin-left: 80px;
  text-align: left;
}

.main-text-one {
  margin-left: 30px;

  width: 414px;

  font-weight: 300;
  font-size: 62px;
  line-height: 62px;

  text-transform: uppercase;

  opacity: 1;
}

.main-text-two {
  margin-left: 342px;

  width: 410px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.header-logo{
  display: block;
  width: 178px;
  height: 80px;
  position: relative;
  background: #BE2024;
  background-image: url("../img/logo80.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 1;
}

.help-text-one, .help-text-two{
  opacity: 1;
}

.main-img {
  width: 100%;
  height: 750px;
  margin-bottom: 40px;

  background-image: url('../img/img1.png');
}


.main-button {
  margin-left: 252px;

  opacity: 1;
}

/* section 2 */

.square {
  width: 100%;
  height: 2px;
  background: #808080;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.stage {
  width: 100%;
  position: relative;
}
.stage, .stage-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;

  margin-top: 30px;
  margin-left: 30px;
}

.image-three {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 266px;
}

.image-three-section6 {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 94px;
}

.image-three-mb{
  margin-right: 30px;
}

.image-three6 {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.image-tree-mob {
  display: none;
}

.image-table-mob {
  display: none;
  height: 700px;
  background: url('../img/image2.png');
  background-repeat: no-repeat;


  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.image-table {
  width: 726px;
  height: 700px;
  background: url('../img/image2.png');
}

.image-phone1 {
  width: 537px;
  height: 700px;
  background: url('../img/img13.png');
}

.image-phone2 {
  width: 537px;
  height: 700px;
  background: url('../img/img14.png');
}

.image-table4 {
  width: 726px;
  height: 700px;
  background: url('../img/img19.png');
}

.image-phone1-4 {
  width: 537px;
  height: 700px;
  background: url('../img/img20.png');
}

.image-phone2-4 {
  width: 537px;
  height: 700px;
  background: url('../img/img21.png');
}

.image-table5 {
  width: 726px;
  height: 700px;
  background: url('../img/img23.png');
}

.image-phone1-5 {
  width: 537px;
  height: 700px;
  background: url('../img/img24.png');
}

.image-phone2-5 {
  width: 537px;
  height: 700px;
  background: url('../img/img25.png');
}

.image-table6 {
  width: 726px;
  height: 460px;
  background: url('../img/img27.png');
  background-repeat: no-repeat;
}

.image-phone1-6 {
  width: 537px;
  height: 460px;
  background: url('../img/img28.png');
}

.image-phone2-6 {
  width: 537px;
  height: 460px;
  background: url('../img/img29.png');
}

.image-three-text{
  margin-top: 730px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.image-three-text-btn {
  margin-left: 30px;
}

.text-three6 {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}


.text-tablet {
  width: 37,375rem;
}

.text-phone1, .text-phone2 {
  width: 27,5625rem;
}

.btn-three {
  width: 100%;
}


/* section 3 */

.content-section3 {
  display: flex;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}

.section3-block-one {
  width: 66.8%;
  margin-right: 30px;
}

.section3-img {
  width: 100%;
  height: 700px;
  background: url('../img/img201.png');
}

.section3-text{
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 178px;
}

.section4-text-mob {
  display: none;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 40px;
}

.section3-text-one {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.section3-block-two {
  width: 537px;
}

.section3-btn {
  display: inline-block;
  width: 450px;
}

.section3-btn button{
  margin-bottom: 10px;
  letter-spacing: none;
  padding: 9px 16px 8px 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  text-transform: uppercase;
}

.section3-btn-element {
  display: inline-block;
	box-sizing: border-box;

  width: 100%;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  /* or 13px */

  text-transform: uppercase;

  /* background: #808080; */
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 50px;

  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 18px;
  padding-left: 18px;

  margin-right: 10px;
}

.btn-active {
  background: #808080;
  border: 1px solid #808080;
}

.section3-title {
  margin-top: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  text-transform: uppercase;
}

.section3-text-two {
  display: inline-block;
  max-width: 537px;
}

.section3-text-two div {
  margin-top: 10px;
}

.square2, .square3, .square4, .square5, 
.square6, .square7, .square7-2, .square8, 
.square8-2, .square9 {
  width: 100%;
  height: 2px;
  background: #808080;
}

.square10-main {
  height: 2px;
  background: #808080;

  margin-right: 30px;
  margin-left: 30px;
}

.square7-3 {
  width: 2px;
  background: #808080;

  display: block;
}

.square8-4, .square8-4-2, .square8-4-3, .square8-4-4, .square-footer{
  display: block;
  width: 2px;
  background: #808080;

  margin-left: 14px;
  margin-right: 14px;
}

.square-header {
  display: none;
}

.square-footer {
  margin-right: 30px;
}

.square9-vertical {
  width: 2px;
  height: 650px;
  background: #808080;
}

.square10-vertical {
  width: 2px;
  height: 353px;
  background: #808080;

  margin-left: 392px;
  margin-right: 15px;
}
.square10-vertical2 {
  width: 2px;
  height: 353px;
  background: #808080;

  margin-left: 15px;
  margin-right: 15px;
}
.square10-vertical3 {
  width: 2px;
  height: 353px;
  background: #808080;

  margin-left: 14px;
  margin-right: 0px;
}

.square10-vertical4 {
  width: 2px;
  height: 353px;
  background: #808080;

  margin-left: 378px;
  margin-right: 15px;
}


.square9-vertical-down {
  width: 2px;
  background: #808080;

  margin-left: 104px;
  margin-right: 0px;
}

.square10-vertical-down {
  width: 2px;
  background: #808080;

  margin-left: 15px;
  margin-right: 15px;
}

.square10-vertical3-down {
  width: 2px;
  background: #808080;

  margin-left: 15px;
  margin-right: 0px;

  opacity: 1;
}

.square10-vertical4-down {
  width: 2px;
  background: #808080;

  margin-left: 376px;
  margin-right: 15px;

  opacity: 1;
}

.square10-vertical5-down {
  width: 2px;
  background: #808080;

  margin-left: 15px;
  margin-right: 0px;

  opacity: 1;
}

.square10-horizon-two {
  width: 760px;
  height: 2px;
  margin-left: 392px;
  background: #808080;
}

.square10-horizon-two-down{
  width: 744px;
  height: 2px;
  margin-left: 30px;
  background: #808080;
}

.square10-horizon-three-down {
  width: 382px;
  height: 2px;
  margin-left: 376px;
  background: #808080;
}

.square10-horizon-three {
  width: 363px;
  height: 2px;
  margin-left: 378px;
  background: #808080;
}

.section-title2, .section-title3, 
.section-title4, .section-title5, .section-title6{
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;

  margin-top: 30px;
  margin-left: 30px;
}

.section4-img-mob {
  display: none;
  width: 100%;
  height: 450px;
  background: url('../img/section4-tabl442.png');
  background-repeat: no-repeat;

}

.section5-img-mob {
  display: none;
  width: 100%;
  height: 450px;
  background: url('../img/section5-table443.png');
  background-repeat: no-repeat;
}

/* section6 */

.image-three-section6-mob {
  display: none;
  width: 100%;
  height: 450px;
  background: url('../img/section6-444.png');
  background-repeat: no-repeat;
}

.section6-title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
}

.section6-text {
  display: flex;
  justify-content: space-between;

  margin-top: 478px;
  width: 100%;
}

.section6-nav-mob {
  display: none;
}

.section6-text-mob{
  display: none;
  justify-content: space-between;
  width: 100%;

  margin-top: 18px;
}

.square-mob {
  width: 100%;
  height: 2px;
  background: #808080;

  margin-top: 20px;
}

.navigation-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

.navigation-arrow-mob {
  display: none;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
  margin-left: 30px;
  margin-right: 20px;
}

.btn-arrow {
  padding: 8px 20px;
}

.navigation-arrow-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: 20px;
}

.section7-mob {
  display: none;
}

.section7-main-two {
  display: flex;
  justify-content: space-between;

  margin-top: 160px;
  margin-bottom: 30px;
  margin-right: 61px;
}

.section7-text-one {
  margin-left: 30px;

  width: 676px;

  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 120%;
  text-transform: uppercase;

  opacity: 1;
}

.section7-text-two {
  margin-left: 30px;
  margin-top: 15px;

  width: 410px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.section7-img {
  display: flex;

  width: 100%;
}

.section7-img-one {
  width: 100%;
  height: 800px;
  margin: 30px 30px 30px 30px;
  background-image: url('../img/section7-1.png');
  background-repeat: no-repeat;
  background-position: left;
}

.section7-img-two {
  width: 100%;
  height: 800px;
  margin: 30px 30px 30px 30px;
  background-image: url("../img/section7-2.png");
  background-repeat: no-repeat;
  background-position: left;
}

/* section 8 */
.section8-grid-mob-one {
  display: flex;
}

.section8-grid-mobile {
  display: none;
}

.section8-text {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.section8-grid-img438 {
  height: 300px;
  background: url('../img/section8-mob438.png');
  background-repeat: no-repeat;

  margin: 20px 20px 10px 20px;
}

.section8-grid-img439 {
  height: 300px;
  background: url('../img/section8-mob439.png');
  background-repeat: no-repeat;

  margin: 20px 20px 10px 20px;
}

.section8-btn-mob {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 9px;
  line-height: 140%;
}

.section8-btn-text {
  margin-right: 10px;
}

.section8-grid-img440 {
  height: 300px;
  background: url('../img/section8-mob440.png');
  background-repeat: no-repeat;

  margin: 20px 20px 10px 20px;
}

.section8-grid-img442 {
  height: 300px;
  background: url('../img/section8-mob442.png');
  background-repeat: no-repeat;

  margin: 20px 20px 10px 20px;
}

.section8-grid-el {
  width: 100%;
  border: 1px solid #808080;
}

.section8 {
  margin-bottom: 200px;
}

.section8-mob {
  display: none;
}

.section8-main-two {
  display: flex;

  margin-top: 160px;
  margin-bottom: 30px;
}

.section8-text-one {
  margin-left: 30px;
  margin-right: 342px;

  width: 414px;

  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 120%;
  text-transform: uppercase;
}

.section8-text-two {
  margin-left: 30px;
  margin-top: 15px;

  width: 538px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;

  opacity: 1;
}


.section8-flex-grid {
  display: flex;
}

.section8-flex-block {
  margin-top: 15px;
}

.section8-flex-block:first-child {
  margin-left: 30px;
}

.section8-flex-img-46 {
  width: 348px;
  height: 423px;
  background-image: url('../img/img46.png');
}

.section8-flex-img-48 {
  width: 348px;
  height: 423px;
  background-image: url('../img/img48.png');
}

.section8-flex-img-47 {
  width: 348px;
  height: 423px;
  background-image: url('../img/img47.png');
}

.section8-flex-img-38 {
  width: 348px;
  height: 423px;
  background-image: url('../img/img38.png');
}

.section8-flex-text {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.section8-flex-text-one {
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.section8-mb {
  margin-top: 10px;
}

.section8-btn {
  display: inline-block;

  width: 160px;
  height: 160px;
  margin-left: 108px;
  margin-top: 166px;
  margin-bottom: 166px;
  text-align: center;
  border-radius: 50%;
}

.section8-flex {
  display: flex;
}

.section8-flex-btn-text {
  width: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
}

.section8-flex-btn-arrow {
  margin-left: 10px;
  margin-top: 4px;
}

/* section 9 */

.section9-mob {
  display: none;
}

.section9-text-one  {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;

  width: 1146px;

  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 72px;
}
.section9-main-blok1-text {
  margin-top: 170px;
  margin-left: 30px;
  margin-right: 104px;
  margin-bottom: 60px;

  width: 259px;

  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
}

.section9-btn {
  display: inline-block;

  width: 160px;
  height: 160px;
  margin-left: 30px;
  margin-bottom: 170px;
  text-align: center;
  border-radius: 50%;
}

.section9-main {
  display: flex;
}

.square9-main-blok2 {
  width: 100%;
  height: 650px;
  background-image: url('../img/map.png');
}

/* section 10 */
.section10-grid-mob-flex {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.section10-mob-el {
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.section10-grid-mob {
  display: block;
  width: 100%;
}

.section10-grid-mob-text {
  display: block;
  text-align: center;

  width: 100%;
  margin-top: 10px;
}

.section10-grid-mob-img {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob.png');
  background-repeat: no-repeat;
}

.section10-grid-mob-img1 {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob1.png');
  background-repeat: no-repeat;
}

.section10-grid-mob-img2 {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob2.png');
  background-repeat: no-repeat;
}

.section10-grid-mob-img3 {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob3.png');
  background-repeat: no-repeat;
}

.section10-grid-mob-img4 {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob4.png');
  background-repeat: no-repeat;
}

.section10-grid-mob-img5 {
  display: block;
  width: 100%;
  height: 300px;
  background: url('../img/section10-mob5.png');
  background-repeat: no-repeat;
}


.section10-title-mob {
  width: 81%;
  margin-top: 40px;
  margin-left: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;

  text-transform: uppercase;
}

.section10-mob {
  display: none;
}

.section10 {
  margin-top: 201px;
  margin-bottom: 200px;
}

.section10-title {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  margin-left: 392px;
  margin-bottom: 30px;
  text-transform: uppercase;

  width: 850px;
}

.square10-flex {
  width: 100%;
  display: flex;
}

.section10-img {
  width: 100%;
  height: 284px;
  background-image: url('../img/img278.png');
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 15px;
}

.section10-img2 {
  width: 100%;
  height: 284px;
  background-image: url('../img/img277.png');
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 15px;
}

.section10-img3 {
  width: 100%;
  height: 284px;
  background-image: url('../img/img276.png');
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 15px;
}

.section10-text {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.section10-text-one {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}

.section10-btn {
  display: inline-block;

  width: 160px;
  height: 160px;
  margin-left: 108px;
  margin-top: 97px;
  text-align: center;
  border-radius: 50%;
}

.section10-tabl-el, .section10-tabl-el-2, .section10-tabl-el-3, 
.section10-tabl-el-4, .section10-tabl-el-5,.section10-tabl-el-6, 
.section10-tabl-el-7, .section10-tabl-el-8, .section10-tabl-el-9 {
  width: 100%;
  height: 353px;
  border: 1px solid #808080;
}

.section10-tabl-el-10 {
  width: 100%;
  height: 353px;
}

.section10-tabl-el, .section10-tabl-el-4, .section10-tabl-el-8 {
  opacity: 0;
}

.section10-tabl {
  display: flex;

  margin-left: 30px;
  margin-right: 30px;
}

.section10-btn {
  display: inline-block;

  width: 160px;
  height: 160px;
  text-align: center;
  border-radius: 50%;

  background-position: center;
}

.footer-wrap {
  margin-left: 30px;
  background-repeat: 30px;
}

.footer-content-logo {
  margin-top: 30px;
}

.footer-content {
  width: 100%;
  display: flex;
}

.footer-content-address {
  width: 379px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;

  margin-top: 40px;
}

.footer-content-info {
  width: 412px;
  margin-top: 337px;
  margin-right: 16.5625rem;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.footer-content-info2 {
  margin-top: 230px;
  margin-right: 7.75rem;

  width: 412px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.footer-content-info3 {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  margin-top: 30px;
  opacity: 0.5;
}

.contacts-items {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  margin-top: 76px;
}

.contacts-items li {
  margin-bottom: 16px;
}


@media (max-width: 1600px) {
  .container {
    max-width: 1600px;
  }

  .menu-list {
    justify-content: left;
  }

  .menu-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  
    margin-right: 110px;
  }

  .main-button {
    margin-left: 124px;
  }
  
  .main-text-two {
    margin-left: 214px;
  }

  .image-table {
    display: block;
    width: 100%;
    height: 700px;
    background: url('../img/img1600-12.png');
  }
  
  .image-phone1 {
    display: block;
    width: 100%;
    height: 700px;
    background: url('../img/img1600-13.png');
  }
  
  .image-phone2 {
    display: block;
    width: 100%;
    height: 700px;
    background: url('../img/img1600-14.png');
  }
  
  .image-table4 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-19.png');
  }
  
  .image-phone1-4 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-20.png');
  }
  
  .image-phone2-4 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-21.png');
  }
  
  .image-table5 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-23.png');
  }
  
  .image-phone1-5 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-24.png');
  }
  
  .image-phone2-5 {
    width: 100%;
    height: 700px;
    background: url('../img/img1600-25.png');
  }
  
  .image-table6 {
    width: 100%;
    background: url('../img/img1600-27.png');
  }
  
  .image-phone1-6 {
    width: 100%;
    background: url('../img/img1600-28.png');
  }
  
  .image-phone2-6 {
    width: 100%;
    background: url('../img/img1600-29.png');
  }

  .section3-block-two {
    width: 400px;
  }

  .section8-text-one {
    margin-right: 214px;
  }

  .section8-flex-img-46 {
    width: 284px;
    height: 423px;
    background-image: url('../img/img1600-46.png');
  }
  
  .section8-flex-img-48 {
    width: 284px;
    height: 423px;
    background-image: url('../img/img1600-48.png');
  }
  
  .section8-flex-img-47 {
    width: 284px;
    height: 423px;
    background-image: url('../img/img1600-47.png');
  }
  
  .section8-flex-img-38 {
    width: 284px;
    height: 423px;
    background-image: url('../img/img1600-38.png');
  }

  .section8-btn {
    margin-left: 30px;
  }

  .section9-main-blok1-text {
    margin-right: 40px;
  }

  .section9-text-mob {
    display: none;
  }

  .footer-content-info {
    width: 412px;
    margin-top: 337px;
    margin-right: 15.5625rem;
  
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }
  
  .footer-content-info2 {
    margin-top: 230px;
    margin-right: 6.75rem;
  
    width: 412px;
  
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
  }
  

}


@media (max-width: 1850px) {
  .section8-flex-img-46 {
    width: 300px;
    height: 423px;
    background-image: url('../img/img46.png');
  }
  
  .section8-flex-img-48 {
    width: 300px;
    height: 423px;
    background-image: url('../img/img48.png');
  }
  
  .section8-flex-img-47 {
    width: 300px;
    height: 423px;
    background-image: url('../img/img47.png');
  }
  
  .section8-flex-img-38 {
    width: 300px;
    height: 423px;
    background-image: url('../img/img38.png');
  }

  .main-title {
    width: 974px;
  }

  .main-title-text {
    font-size: 82px;
    line-height: 90px;
  }
}

@media (max-width: 1850px) {
  .section10-img {
    width: 100%;
    height: 284px;
    background-image: url('../img/img1600-278.png');
    background-repeat: no-repeat;
    background-position: center;
  
    margin-top: 15px;
  }
  
  .section10-img2 {
    width: 100%;
    height: 284px;
    background-image: url('../img/img1600-277.png');
    background-repeat: no-repeat;
    background-position: center;
  
    margin-top: 15px;
  }
  
  .section10-img3 {
    width: 100%;
    height: 284px;
    background-image: url('../img/img1600-276.png');
    background-repeat: no-repeat;
    background-position: center;
  
    margin-top: 15px;
  }
}


@media (max-width: 1880px) {

.footer-content-info {
  width: 412px;
  margin-top: 337px;
  margin-right: 10.5625rem;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.footer-content-info2 {
  margin-top: 230px;
  margin-right: 1.75rem;

  width: 412px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  }
}


@media (max-width: 1600px) {
  .container {
    max-width: none;
  }

  .main-title {
    margin-bottom: 40px;
  }

  .main-button {
    margin-left: 0px;
}

.main-two {
  margin-bottom: 60px;
}

.main-title {
  display: inline-block;
  width: 730px;
  margin-left: 20px;
  font-size: 62px;
  text-align: left;
}

.main-title-text {
  font-size: 62px;
  line-height: 70px;
}

}

@media (max-width: 900px) {

  .main-img {
    background-image: url('/img/main1600.png');
    background-repeat: no-repeat;
  }

  .main-img {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
  
    background-image: url('../img/img768-431.png');
  }

  .help-text-one {
    width: 346px;
  }
  .help-text-two {
    width: 370px;
  }

  .main-text-one {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
  }

  .main-two-mob {
    display: inline-block;
    margin-bottom: 80px;
  }

  .main-text-two {
    margin-left: 20px;
    width: 86%;
}

.section-title {
  width: 250px;
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
}

}

@media (max-width: 1224px) {

  .section3-block-one {
    width: 100%;
  }

  .menu-list {
    display: none;
  }
  
  .menu-list-tabl {
    display: block;
    width: 30px;
    height: 8.5px;
    margin-right: 14.5px;
    position: relative;
    background-image: url("../img/menu-list768.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .square-header {
    display: block;
    width: 2px;
    height: 100%;
    background: #808080;
  }

  .header-logo{
    display: block;
    width: 110px;
    height: 50px;
    position: relative;
    background: #BE2024;
    background-image: url("../img/logo768.svg");
    background-repeat: no-repeat;
    background-position: center;
  
    opacity: 1;
  }
  
  .btn-three {
    width: 190px;
    letter-spacing: 0;

    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 9px;
    line-height: 140%;
  }
}

@media (max-width: 428px) {
  .section6-mob-m {
    margin: 0px 10px 0px 10px;
  }

  .section10-title-mob {
    width: 91%;
    margin-top: 30px;
    margin-left: 20px;
  
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
  }

  .section9-text-mob {
    display: flex;
    flex-direction: column
  }

  .section9-map-mob {
    height: 450px;
    background: url('../img/map-mobile.png');
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .section9-text-one {
    width: 91%;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;

    margin-top: 150px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  .section8-grid-mobile {
    display: block;
  }

  .section8-square-mibile {
    height: 2px;
    background: #808080;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section8-square-mibile2 {
    height: 2px;
    background: #808080;
  }

  .section8-grid-img438 {
    margin: 0px 20px 10px 20px;
    background: url('../img/section8-mobile1.png');
  }

  .section8-grid-img439 {
    margin: 0px 20px 10px 20px;
    background: url('../img/section8-mobile2.png');
  }

  .section8-grid-img440 {
    margin: 0px 20px 10px 20px;
    background: url('../img/section8-mobile3.png');
  }

  .section8-grid-img442 {
    margin: 0px 20px 10px 20px;
    background: url('../img/section8-mobile4.png');
  }

  .section10-text {
    margin: 0px 20px 10px 20px;
  }

  .section8-grid-mob {
    display: none;
  }

  .section7-img-one {
    display: block;
    background: url('../img/image17-mob.png');
  }

  .section7-img-two {
    display: block;
    background: url('../img/image18-mob.png');
  }


  .section7-text-one{
    width: 91%;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;

    margin-top: 20px;
  }

  .section7-text-two {
    width: 95%;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;

    margin-bottom: 89px;
  }

  .navigation-arrow-mob {
    padding: 8px 20px;
  }

  .btn {
    padding: 8px 20px;
  }

  .section3-block-one {
    margin-right: 0;
  }

.image-tree-text-mob {
  margin-left: 10px;
  margin-right: 10px;
}

.content-section3 {
  margin-left: 10px;
  margin-right: 10px;
}

.image-table-mob {
  margin-left: 10px;
  margin-right: 10px;
}

.section-title2 {
  margin-left: 10px;
}

.section-title4, .section-title5, .section-title6 {
  margin-left: 10px;
}

.main-title-text {
  font-size: 30px;
  line-height: 45px;
  width: 382px;
}

.btn-icon {
  display: block;
}

.main-two {
  display: block;
}

.main-title {
  margin-bottom: 15px;
}

.help-text-one {
  font-size: 16px;
  margin-left: 20px;
}

.help-text-two {
  font-size: 16px;
  margin-left: 40px;
}

.main-button{
  margin-top: 50px;
}

.btn-three {
  margin-top: 0px;
}

}


@media (max-width: 703px) {

  .main-title-text {
    font-size: 30px;
    line-height: 45px;
    width: 382px;
  }

  .main-title {
    margin-top: 150px;
  }

  .main-button {
    margin-left: 20px;
  }

  .main-two {
    display: block;
  }

  .help-text-two {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .section9-text-mob-two {
    margin-top: 40px;
  }

  .section6-mob-m {
    margin: 0px 20px 0px 20px;
  }

  .section4-text-mob{
    margin-left: 20px;
    margin-right: 20px;
  }

  .section10-mob {
    display: block;
  }

  footer {
    display: none;
  }

  .section10 {
    display: none;
  }

  .section9-text-mob {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px;
  }

  .section9-map-mob {
    height: 450px;
    background: url('../img/map-mob.png');
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .section9-text-one {
    width: 85%;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;

    margin-top: 150px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  .section9 {
    display: none;
  }

  .section9-mob {
    display: block;
  }

  .section8-main-two {
    display: block;
  }

  .section8-text-two {
    width: 77%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .section8 {
    display: none;
  }

  .section8-mob {
    display: block;
  }
  .section8-flex-grid {
    display: none;
  }

  .section7-img-one {
    width: 100%;
    height: 450px;
    background: url('../img/image17-tabl.png');
    background-repeat: no-repeat;
    margin: 10px 0px 10px 0px;
  }

  .section7-img-two {
    width: 100%;
    height: 450px;
    background: url('../img/image18-tabl.png');
    background-repeat: no-repeat;
    margin: 10px 0px 10px 0px;
  }

  .section7-text-one{
    width: 80%;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;

    margin-top: 20px;
  }

  .section7-text-two {
    width: 95%;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;

    margin-bottom: 89px;
  }

  .section7-main-two {
    display: block;
  }

  .section7 {
    display: none;
  }

  .section7-mob {
    display: block;
  }

  .navigation-arrow-mob {
    padding: 0;
  }

  .navigation-arrow-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .section8-text-two {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .section6-nav-mob {
    display: block;
  }

  .section6-text-mob{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    margin-top: 18px;
  }

  .image-three-section6 {
    display: none;
  }

  .navigation-arrow {
    display: none;
  }

  .image-three-section6-mob {
    display: block;
    width: 100%;
    height: 450px;
    background: url('../img/section6-444.png');
    background-repeat: no-repeat;

    margin-top: 30px;
  }

  .section4-img-mob {
    display: block;
    width: 100%;
    height: 450px;
    background: url('../img/section4-tabl442.png');
    background-repeat: no-repeat;
  }

  .section5-img-mob {
    display: block;
    width: 100%;
    height: 450px;
    background: url('../img/section5-table443.png');
    background-repeat: no-repeat;
  }

  .image-table-mob {
    height: 450px;
  }

  .image-tree-mob {
    display: block;
  }

  .image-three-text-btn {
    height: 35px;
  }

  .image-three {
    display: none;
  }

  .image-table-mob {
    display: block;
  }

  .image-tree-text-mob {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
  }

  .content-section3 {
    margin-top: 20px;
    margin-right: 20px;
  }


  .section-title2 {
    width: 293px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
  }

  .section-title5 {
    width: 230px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .section-title6 {
    width: 391px;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
  }

  .section-title4 {
    width: 236px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .section-title2, .section-title4, .section-title5, .section-title6 {
    margin-left: 20px;
  }
  

  .section3-text {
    margin-bottom: 40px;
  }

  .content-section3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section3-img {
    height: 450px;
  }

  .btn-section3 {
    width: 190px;
    letter-spacing: 0;

    font-weight: 400;
    font-size: 9px;
    line-height: 140%;
  }

  .section3-text-one {
    width: 180px;
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
  }

  .section3-block-two {
    display: none;
  }

  .image-table-mob {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section4-text-mob {
    display: flex;
    justify-content: space-between;
  
    margin-top: 20px;
    margin-bottom: 40px;
  }

}

@media (max-width: 1460px){

.section8-flex-img-46 {
  width: 250px;
  height: 423px;
  background-image: url('../img/img1600-46.png');
}

.section8-flex-img-48 {
  width: 250px;
  height: 423px;
  background-image: url('../img/img1600-48.png');
}

.section8-flex-img-47 {
  width: 250px;
  height: 423px;
  background-image: url('../img/img1600-47.png');
}

.section8-flex-img-38 {
  width: 250px;
  height: 423px;
  background-image: url('../img/img1600-38.png');
}

}


@media (max-width: 1360px){

  .section8-flex-img-46 {
    width: 200px;
    height: 423px;
    background-image: url('../img/img1600-46.png');
  }
  
  .section8-flex-img-48 {
    width: 200px;
    height: 423px;
    background-image: url('../img/img1600-48.png');
  }
  
  .section8-flex-img-47 {
    width: 200px;
    height: 423px;
    background-image: url('../img/img1600-47.png');
  }
  
  .section8-flex-img-38 {
    width: 200px;
    height: 423px;
    background-image: url('../img/img1600-38.png');
  }

  .section8-flex-text-one {
    width: 200px;
  }
  
  }